.hero {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 150px;
  padding-bottom: 0px;
  height: 100vh;
}

/* .hero-bar-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #028cd7;
}

.hero-bar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #028cd7;
} */

.hero-info {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 1.5vh;
}

.hero-title {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: clamp(2rem, 5vw, 2.7rem);
  }
}

.hero-image-card {
  color: #272727;
  pointer-events: auto;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: opacity 0.26s ease-out;
  border-radius: 70px;
  filter: drop-shadow(-8px -10px 46px #0000005f);
  backdrop-filter: brightness(1.1) url(#glass-distortion);
  background: linear-gradient(0deg, #028cd773, #273f4f08);
}

.hero-image-card::before {
  border-radius: 70px;
  -webkit-box-shadow: inset 2px 2px 0px -2px #3d5e755e,
    inset 0 0 3px 1px #3d5e755e;
  box-shadow: inset 6px 6px 0px -6px #3d5e755e, inset 0 0 8px 1px #3d5e755e;
}

#hero-image {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

.hero-availability-card {
  display: flex;
  align-items: start;
  padding: 4px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
  width: max-content;
}

.hero-gradient {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #02d785, #dee7ec00);
  opacity: 0.1;
  animation: bgOpacity 2s infinite alternate;
}

@keyframes bgOpacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#download-cv {
  background: linear-gradient(0deg, #028cd73d, #273f4f08);
}
